<nav class="navbar navbar-expand navbar-dark bg-primary mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-light" href="/listas/sair">Sair</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <h3>Listas:</h3>                
            </div>
            {{#each listas}}
                <div class="card mx-auto pt-2 mt-1" style="width: 18.5rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nomeLista}}</h5>
                        <a href="/tarefas/{{this._id}}" class="btn btn-primary">Tarefas</a>
                        <a href="/listas/removerLista/{{this._id}}" class="btn btn-danger">Remover</a>
                        <form class="mt-2" action="/listas/editarLista/{{this._id}}">
                            <input type="text" name="nomeLista" placeholder="Editar Lista" style="width: 11em;">
                            <button class="btn btn-secondary">Editar</button>
                        </form>


                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-md-4">
            <div>
                <form class="mx-auto pt-4" action="/listas/criarLista" method="POST" style="width: 18rem;">
                    <h5>Criar lista:</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nomeLista" placeholder="Nome da lista">
                    </div>
                    <button type="submit" class="btn btn-primary">Criar lista</button>
                </form>
            </div>
        </div>
    </div>
</div>